.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  color: #818181;
  transition: all .3s ease-in-out;
}

.form-control input:focus {
  outline: none;
  background: rgba(255, 255, 36, 0.4);
  color: #111111;
}

.form-control.invalid input {
  border-color: rgba(255,0,0,0.57);
  background: rgba(255,146,146,0.81);
}

.form-control.invalid label {
  color: rgba(255,0,0,0.57);
}
